body {
    background-color: #f8f8ff;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

nav {
    background-color: #3b546b;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #243442;
}

h1 {
    color: #111;
    text-align: center;
    margin-top: 20px;
    font-size: 2em;

}

h2 {
    color: #333;
    text-align: center;
    margin-top: 30px;
    font-size: 1.5em;
}


img {
    display: block;
    margin: 30px auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(102, 102, 102, 0.2);
}

#team-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(121, 121, 121, 0.15);
}

#team-container .team-member {
    background-color: #fff;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(121, 121, 121, 0.15);
}

#team-container .team-member h3 {
    font-size: 1.2em;
    font-weight: 700;
    color: #213d5c;
    margin-bottom: 5px;
}

#team-container .team-member p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}

#team-container .team-member p strong {
    color: #111;
    font-weight: 700;
}

footer {
    background-color: #19253f;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
    font-size: 14px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #213d5c;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}