body {
    background-color: #f8f8ff;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #3b546b;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #243442;
}

h1 {
    color: #111;
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
}

h2 {
    color: #333;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 1.5em;
}

p {
    color: #555;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    line-height: 1.6;
}

canvas {
    display: block;
    margin: 20px auto;
    max-width: 600px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 10px;
}

button {
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 20px;
    background-color: #213d5c;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #172a3f;
    transform: scale(1.05);
}

button:active {
    background-color: #213d5c;
}

footer {
    background-color: #3b546b;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
    font-size: 14px;
}

footer p {
    margin: 5px 0;
    color: rgb(175, 175, 175);
}

footer a {
    color: #3b546b;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}